.logo {
    width: 56px;
    height: 56px;
}

.logo_small {
    width: 38px;
    height: 38px;
}

.logo-text {
    margin-left: 12px;
    width: 80px;
    height: 13px;
}

.logo-group {
    display: flex;
    align-items: center;
}