.feature {
    margin-top: 85px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 375px;
}

.feature__heading {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.feature__wrapper {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 375px;
}

/* setup */
.feature__setup {
    background-image: url('../../img/pictures/feature/strokes_1.svg');
    background-repeat: no-repeat;
    background-position: 0px 67px;
}

.feature__setup__image {
    margin-top: 59px;
    position: relative;
    width: 375px;
}

.feature__setup__image__photo {
    height: 390px;
    margin: auto;
    margin-top: 15px;
}

.feature__setup__image__number {
    position: absolute;
    bottom: 249px;
    margin-left: 45px;
}

.feature__setup__content {
    margin-top: 36px;
    margin-left: 19px;
    width: 306px;
}

.feauture__setup-text {
    margin-top: 10px;
    width: 277px;
}

/* review */
.feature__review__image {
    margin-top: 221px;
    position: relative;
    width: 375px;

    background-image: url('../../img/pictures/feature/strokes_2.svg');
    background-repeat: no-repeat;
    background-position: 0px 110px;
}

.feature__review__image__photo {
    height: 287px;
    margin: auto;
}

.feature__review__image__number {
    position: absolute;
    top: -84px;
    margin-left: 38px;
}

.feature__review__content {
    margin-top: 36px;
    margin-left: 20px;
    width: 306px;
}

.feauture__review-text {
    margin-top: 10px;
    width: 277px;
}

/* try */
.feature__try {
    background-image: url('../../img/pictures/feature/strokes_3.svg');
    background-size: 149px 174px;
    background-repeat: no-repeat;
    background-position: 231px 350px;
}

.feature__try__image {
    position: relative;
    margin-top: 114px;
    width: 375px;
}

.feature__try__image__photo {
    height: 415px;
    margin: auto;
}

.feature__try__image__number {
    position: absolute;
    bottom: 265px;
    margin-left: 20px;
}

.feature__try__content {
    margin-top: 36px;
    margin-left: 20px;
    width: 306px;
}

.feature__try__content__title {
    width: 170px;
}

.feature__try-text {
    margin-top: 10px;
    width: 281px;
    height: 159px;
}

.feauture__number {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 220px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(239, 128, 148, 1);
}

.feature__buttons {
    margin-top: 60px;
}

/*tablet*/
@media (min-device-width: 768px) {
    .feature {
        margin-top: 112px;
        width: 100%;
    }

    .feature__wrapper {
        flex-direction: row;
        width: 100%;
    }

    /* setup */
    .feature__setup {
        background-position: 13px 25px;
        background-size: 229px 197px;
    }

    .feature__setup__image {
        width: auto;
        margin-top: 21px;
        margin-left: 53px;
    }

    .feature__setup__image__photo {
        right: 0;
        width: 256px;
        height: 309px;
    }

    .feature__setup__image__number {
        bottom: 187px;
        margin-left: 23px;
    }
    
    .feature__setup__content {
        margin-left: 34px;
        width: 311px;
    }

    .feauture__setup-text {
        margin-top: 10px;
        width: 277px;
    }

    /* review */
    .feature__review{
        background-image: url('../../img/pictures/feature/blur.svg');
        background-size: 254px 206px;
        background-repeat: no-repeat;
        background-position: 490px 00px;

        flex-direction: column;
    }

    .feature__review__image {
        align-self: flex-end;
        width: 450px;
        margin-right: 100px;
        margin-top: 30px;

        background-size: 134px 132px;
        background-position: 15px 75px;
    }

    .feature__review__image__number {
        top: 240px;
        margin-left: 0px;
    }

    .feature__review__content {
        margin-top: 25px;
        margin-left: 120px;
        width: 200px;
    }

    .feauture__review-text {
        width: 325px;
        height: 76px;
    }

    /* try */
    .feature__try {
        background-image: url('../../img/pictures/feature/strokes_3_tablet.svg');
        background-size: 155px 138px;
        background-position: 220px 225px;
    }

    .feature__try__image {
        margin-left: 54px;
        margin-top: 34px;
        width: auto;
    }

    .feature__try__image__photo {
        width: 260px;
        height: 330px;
    }

    .feature__try__content {
        margin-left: 32px;
    }

    .feature__try__content__title {
        width: auto;
    }

    .feature__try-text {
        width: 360px;
    }

    .feature__buttons {
        margin-top: 67px;
    }
}