.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 375px;
    height: 90px;
}

.header__logo {
    margin-left: 15px;
    width: 56px;
    height: 56px;
}

.header__hamburger {
    margin-right: 18px;
}

/*tablet*/

.header__logo-group {
    display: none;
}

.header__buttons {
    display: none;
}

.navigation {
    display: none;
}

@media (min-device-width: 768px) {
    .header__logo {      
        display: none;
    }

    .header__hamburger {
        display: none;
    }

    .header {
        box-sizing: border-box;
        width: auto;
        height: 70px;

        padding-left: 40px;
        padding-right: 40px;
    }

    .header__logo-group {
        display: block;
    }

    .navigation {
        width: 366px;
        padding: 0;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 1.6px;
    }

    .header__buttons {
        display: flex;
    }    
}