.offer {
    margin-top: 104px;

    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 375px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
}

.offer__heading {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.offer__planes {
    width: 100%;
    
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.offer__plane {
    margin-top: 47px;

    width: 348px;
    height: 188px;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 4px solid rgba(196, 196, 196, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
}

.offer__plane--monthly {
    background-image: url("../../img/backgrounds/offerMonthly.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.offer__plane--yearly {
    background-image: url("../../img/backgrounds/offerYearly.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.offer__price {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 3.6px;
}

.offer__buttons {
    margin-top: 10px;
}

.offer__discription {
    margin-top: 15px;
    margin-left: 15px;
    align-self: flex-start;

    width: 316px;
    height: 62px;

    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.14px;
}

/*tablet*/
@media (min-device-width: 768px) {
    .offer {
        margin-top: 27px;
        width: 100%;
    }

    .offer__planes {
        box-sizing: border-box;
        padding: 0 46px;
        flex-direction: row;
        justify-content: space-between;
    }

    .offer__plane {
        margin-top: 30px;
        width: 305px;
        height: 154px;
    }

    .offer__plane--monthly {
        background-size: cover;
    }

    .offer__plane--yearly {
        background-size: cover;
    }

    .offer__price {
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 2.8px;
    }

    .offer__buttons {
        margin-top: 6px;
    }

    .offer__discription {
        margin-top: 22px;
        align-self: center;

        width: auto;
        height: auto;
    }
}