.topbar {
    width: 375px;
    height: 10px;
    background: url('../../img/backgrounds/topbar.png');
}

@media screen and (min-device-width: 768px) {
    .topbar {
        width: auto;
        height: 6px;
        background: url('../../img/backgrounds/topbar_tablet.png');
    }    
}