@import url('./styles/common/base.css');
@import url('./styles/common/logo.css');
@import url('./styles/common/hamburger.css');
@import url('./styles/common/buttons.css');
@import url('./styles/common/underline.css');
@import url('./styles/layouts/header.css');
@import url('./styles/layouts/promo.css');
@import url('./styles/layouts/offer.css');
@import url('./styles/layouts/feature.css');
@import url('./styles/layouts/posts.css');
@import url('./styles/layouts/footer.css');

img {
  display: block
}

header {
  display: block;
}

h1 {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}

h2 {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}

h3 {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  margin: 0;
}

h4 {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

h5 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.22px;
  color: #000000;
  margin: 0;
}

p {
  margin: 0;
}

.description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.18px;
  color: #000000;
  margin: 0;
}

/* tablet */
@media (min-device-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 48px;
  }

  h2 {
    font-size: 42px;
    line-height: 48px;
  }

  h3 {
    font-size: 32px;
    line-height: 36px;
  }

  h5 {
    font-size: 20px;
    line-height: 27px;
  }

  .description {
    font-size: 14px;
    line-height: 18px;
  }
}